<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .container{
            width: 100vw;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Add Category</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Add Category</h1><br><br>
        <form method="POST">
            <label for="name" class="form-label">Category Name: </label><br>
            <input type="text" id="name" class="form-control" name="category_name" placeholder="Enter Category Name" autofocus>
            <br><br>
    
            <label for="description" class="form-label">Category Description: </label><br>
            <textarea id="description" rows="5" cols="10" class="form-control" name="category_description" placeholder="Enter Category Description"></textarea>
            <br><br>
    
            <input class="btn btn-info" type="submit" value="Add Category">
        </form>
    </div>
</body>
</html>