<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        form{
            border: 2px solid grey;

            padding: 0px 40px;
        }
        .dates{
            display: flex;
            
        }
    </style>
    <title>Update Product</title>
</head>
<body>
    <div class="container">
        <h1>Update Product</h1>

        <form method="POST" enctype="multipart/form-data">
            <label for="name" class="form-label">Product Name: </label><br>
            <input type="text" id="name" name="p_id" value="{{pro_id}}" class="form-control" disabled>
            <br>

            <label for="name" class="form-label">Product Name: </label><br>
            <input type="text" id="name" name="p_name" value="{{pro_name}}" class="form-control" required>
            <br>

            <label for="p_unit" class="form-label">Unit</label>
            <select name="p_unit" id="p_unit" class="form-control" required>
                <option value="kg">Kilogram</option>
                <option value="metre">Metre</option>
                <option value="gram">Gram</option>
                <option value="milli_metre">Milli Metre</option>
                <option value="500ml">500ml</option>
                <option value="litre">Litre</option>
                <option value="small_packet">Small Packet</option>
                <option value="medium_packet">Medium Packet</option>
            </select>
            <br>

            <label for="rate" class="form-label">Price per Unit: </label><br>
            <input type="number" id="rate" name="p_rate" value="{{pro_rate}}" class="form-control" required>
            <br>

            <div class="dates">
                <div class="mfg">
                    <label for="mfg" class="form-label">Manufactured Date: </label><br>
                    <input type="date" id="mfg" name="p_mfg" value="{{pro_mfg}}" class="form-control" required>
                </div>
                &nbsp; &nbsp;
                <div class="exp">
                    <label for="exp" class="form-label">Expiry Date: </label><br>
                    <input type="date" id="exp" name="p_exp" value="{{pro_exp}}" class="form-control" required>
                </div>
            </div>
            <br>
            <label for="quantity" class="form-label">Product Total Quantity: </label> <br>
            <input type="number" id="quantity" name="p_quantity" value="{{pro_quantity}}" class="form-control" required>
            <br>

            <label for="image" class="form-label">Image file: </label> <br>
            <input type="file" id="image" name="image" accept="image/jpeg" class="form-control"><br>

            <input class="btn btn-info border border-black align-content-center" type="submit" value="submit">

        </form>
    </div>
</body>
</html>